.animated-gradient-text {
  position: relative;
  display: inline-flex;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.animated-gradient-text .text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
